<div class="main">
  <h1>Filter Page</h1>
  <div ng-controller="filterController">
    <p>管道符号 + 过滤器</p>
    <p> Name uppercase => {{person.name | uppercase}} </p>
    <p> Name lowercase => {{person.name | lowercase}} </p>
    <p> Name reverse => {{person.name | reverse}} </p>

    <hr>
    <p>Currency</p>
    <p>Currency: {{ person.books.price *3 | currency }}</p>

    <hr>
    <ul>
      <li ng-repeat=" user in users | orderBy: 'age'">
        username => {{ user.name }} <br>
        age => {{ user.age }} <br>
      </li>
    </ul>

    <hr>
    <label for="search">Search</label>
    <p><input id="search" type="text" ng-model="condition"></p>
    <ul>
      <li ng-repeat=" user in users | filter:condition | orderBy: 'age'">
        username => {{ user.name }} <br>
        age => {{ user.age }} <br>
      </li>
    </ul>

    <hr>


  </div>
</div>