<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title>Home</title>
</head>
<body>
<ul id="navBar">
  <li ng-click="go('/')">home</li>
  <li ng-click="go('/expression')">expression</li>
  <li ng-click="go('/directive')">directive</li>
  <li ng-click="go('/http')">http</li>
  <li ng-click="go('/resource')">resource</li>
  <li ng-click="go('/echart')">echart</li>
  <li ng-click="go('/error')">error</li>
</ul>
<hr>
<ng-view></ng-view>
</body>
</html>